.grid-items {
  column-width: 280px; /* largeur cible par colonne */
  column-gap: 0; /* espace entre colonnes */
  column-fill: balance; /* "auto" : remplir séquentiellement (col1 puis col2). "balance" répartit équitablement */
  column-rule: solid 1px;

//   min-height: 100vh; /* optionnel : fixe la hauteur visible des colonnes */
  height: 100%;
  overflow: auto; /* si tu veux scroller verticalement le bloc global */
  box-sizing: border-box;
  border: 1px solid #000;

  &.is-layout-constrained > * {
    margin-block-start: 0 !important;
    padding: 0;
    }

    .wp-block-post,
    .ressource-display {
        // border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        height: fit-content;
        width: 100%;

        &__content{
            padding: 10px 20px;
        }

        h3 {
            font-size: 3rem;
        }

        p{
            font-size: 100% !important;
        }
    }

    .wp-block-button__link{
        display: block;
        margin-bottom: 30px;
    }
    
}

.ressource-display__download{
        margin-top: 30px;
    }