.newspaper-grid{
    min-height: 100vh;

    .wp-block-query{
        margin-left:unset!important;
        margin-right:unset!important;
        max-width: 100%;

        .grid-items{
            column-width: 240px;      /* largeur cible par colonne */
            column-gap: 1rem;        /* espace entre colonnes */
            column-fill: auto;       /* "auto" : remplir séquentiellement (col1 puis col2). "balance" répartit équitablement */
            height: 110vh;            /* optionnel : fixe la hauteur visible des colonnes */
            overflow: auto;          /* si tu veux scroller verticalement le bloc global */
            box-sizing: border-box;
            border: 1px solid #000;


            .wp-block-post,
            .ressource-display{
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                padding: 30px 20px;
                height: fit-content;

                // break-inside: avoid;    /* évite la coupure d'un élément entre 2 colonnes */
                // -webkit-column-break-inside: avoid;
                // page-break-inside: avoid;
                // margin: 0 0 1rem;

                h2{
                    font-size: 190%!important;
                }

                // &:nth-child(1){
                //     grid-column-start: 1;
                // }

                &:nth-child(2){
                    grid-column: 2 / 2;
                }

                // &:nth-child(3){
                //     grid-column-start: 2;
                //     grid-row-start: 1;
                // }

                // &:nth-child(4){
                //     grid-row-start: 1;
                // }
            }
        }

            // Styles pour les images aléatoires
        .visu-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;

            // max-width: 220px;
            margin: 20px 0;
            padding: 10px;

            // grid-row: 1 / span 2;


            // padding: 10px;
            
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            // // Variantes de taille aléatoires pour plus de dynamisme
            // &:nth-of-type(3n+1) {
            //     grid-column: span 1;
            // }

            // &:nth-of-type(3n+2) {
            //     grid-column: span 2;
            // }

            // &:nth-of-type(3n) {
            //     grid-column: span 1;
            // }
        }    
    }

}
